<h2>Attendance Registration</h2>

<button (click)="loadAttendance()">
  Refresh
</button>

@if(attendance){

<table>

  <thead>
    <tr>
      <th>Student</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>

    @for(
      student of attendance.students;
      track student.studentId
    ){

    <tr>

      <td>
        {{ student.fullName }}
      </td>

      <td>

        <select
          [ngModel]="student.status"
          (ngModelChange)="
            updateStatus(
              $index,
              $event
            )
          "
        >

          <option [ngValue]="null">
            Select
          </option>

          <option value="PRESENT">
            Present
          </option>

          <option value="ABSENT">
            Absent
          </option>

          <option value="LATE">
            Late
          </option>

        </select>

      </td>

    </tr>

    }

  </tbody>

</table>

<button
  [disabled]="!hasChanges"
  (click)="save()"
>
  Save Attendance
</button>

}